
@{
    ViewData["Title"] = "Navigation";
}

<h1>Navigation</h1>

<li>
    <a asp-area="" asp-controller="Grade" asp-action="Index">Grade</a>
</li>
<li>
    <a asp-area="" asp-controller="Exam" asp-action="Index">Exam</a>
</li>
<li>
    <a asp-area="" asp-controller="Student" asp-action="Index">Student</a>
</li>
<li>
    <a asp-area="" asp-controller="Subject" asp-action="Index">Subject</a>
</li>
<li>
    <a asp-area="" asp-controller="StudentSubjectTeacher" asp-action="Index">StudentSubjectTeacher</a>
</li>
<li>
    <a asp-area="" asp-controller="SubjectTeacher" asp-action="Index">SubjectTeacher</a>
</li>
<li>
    <a asp-area="" asp-controller="Account" asp-action="ListUsers">Staff</a>
</li>
