<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using MBHS_Website.Areas.Identity.Data

@inject SignInManager<MBHS_WebsiteUser> SignInManager
@inject UserManager<MBHS_WebsiteUser> UserManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MBHS_Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MBHS_Website.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a8c6681344.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script>    

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.collapsible-menu').addEventListener('click', function () {
                document.querySelectorAll('.nav-links').forEach(function (navLinks) {
                    navLinks.classList.toggle('active');
                });
            });
        

        gsap.set('.footer-container', { yPercent: -50 })

        const uncover = gsap.timeline({ paused: true })

        uncover
            .to('.footer-container', { yPercent: 0, ease: 'none' })
            ;

        ScrollTrigger.create({
            trigger:  '.body-container',
            start: 'bottom bottom',
            end: '+=18%',
            animation: uncover,
            scrub: true,
        });
        });
    </script>

    <style>
    
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        header {
            background-color: #f2f2f2; /* Light grey background */
            color: #00205b; /* Dark blue for text color */
            box-shadow: 1px 1px 25px 1px black;
            opacity: 95%;
            border: 2px solid #00205b;
        }

        .holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
        }

        .logo img {
            max-width: 60px;
        }

        .collapsible-menu {
            display: none; /* Hide the toggle button by default */
            cursor: pointer;
        }

        .nav-links {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

            .nav-links li {
                margin-right: 20px;
            }

                .nav-links li a {
                    color: #00205b; /* Dark blue */
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 8px 15px;
                    border-radius: 5px;
                    transition: color 0.3s ease;
                    position: relative; /* Position relative for absolute positioning */
                    overflow: hidden; /* Hide the overflow */

                }

                    .nav-links li a::before {
                        content: ''; /* Create a pseudo-element for the border */
                        position: absolute; /* Position absolutely */
                        top: 0; /* Align to the top */
                        left: 0; /* Align to the left */
                        width: 100%; /* Full width */
                        height: 0; /* Initially hidden */
                        border-bottom: 2px solid #ed2939; /* Border color */
                        opacity: 0; /* Initially transparent */
                        transition: height 0.3s ease, opacity 0.3s ease; /* Transition height and opacity properties */
                    }

                    .nav-links li a:hover::before {
                        height: 100%; /* Expand height on hover */
                        opacity: 1; /* Increase opacity on hover */
                    }

                    .nav-links li a:hover {
                        color: #ed2939; /* Subtle red on hover */
                       
                    }

        .logo-container {
            display: grid;
            grid-template-columns: auto auto;
            
            
        }
        .title {
            font-family: Arial, Helvetica, sans-serif;
            text-shadow: 4px 6px 6px rgba(150,150,150,0.8);
            background-image: linear-gradient(90deg, darkblue, darkred);
            font-weight: 600;
            font-size: 135%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transition: 0.5s;
        }
        .title:hover {
                text-shadow: -4px 6px 6px rgba(100,100,100,0.9);
        }


}
            .logo-container img {
                grid-row: 1/ span 2;
            }

            .logo-container p {
                margin-left: 10px;
            }

        a:link {
            text-decoration: none;
        }

        @@media screen and (max-width: 768px) {
            .nav-links {
                display: none;
                flex-direction: column; /* Display the navigation links vertically */
                align-items: flex-start; /* Align navigation links to the left */
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                width: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                padding:10%;
                z-index: 1000;
                padding: 20px 0; /* Added padding for better spacing */
            }

                .nav-links.active {
                    display: flex; /* Show the navigation links when the menu is toggled */
                }

                .nav-links li {
                    margin-right: 0;
                    width: 100%;
                    margin-bottom:10px;
                  

                }

                .nav-links:nth-of-type(2)  {
                    margin-top: 100px; /* Add margin to separate from the first set of links */
                }


            .collapsible-menu {
                display: block; /* Display the toggle button on smaller screens */
            }

                .collapsible-menu:hover {
                    color: #ed2939; /* Change color on hover to subtle red */
                }
        }

        .footer-section {
            padding: 40px 0;
            background: #151414;
            color: #fff;
            position: relative;
            bottom: 0;
            width: 100%;
            border-top: 1px solid #666;
        }

        .footer-content h5 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .footer-content p {
            font-size: 16px;
            margin-bottom: 10px;
        }

            .footer-content p:last-child {
                margin-bottom: 20px;
            }

        .divider {
            border-top: 1px solid #666;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .footer-container {
            display:grid;
            grid-template-areas:
                'address-logo address address logo logo logo'
                'email-logo email email logo logo logo'
                'phone-logo phone phone motto motto motto'
                'copyright-label copyright-label copyright-label copyright-label copyright-label copyright-label';
            
            background: #151414;
            color: white;
            
            
        }

            .footer-container div {
                padding: 5px;
            }

            i {
            color:#ff5e14;
            }

        .copyright-label a, .quotation-marks{
            color: #ff5e14 !important; 
        }
            .logo, .motto, .copyright-label {
                text-align: center;
            }

            .address, .email, .phone {
            border-right: 1px solid #373636;
            
            }

        .address-logo, .email-logo, .phone-logo {
            text-align:end;

        }

        .address-logo{
            margin-top: 20px;
            grid-area: address-logo;
            
        }
        .copyright-label {
            color: #878787;
            background: #202020;
        }

        .email-logo{
            grid-area: email-logo;
        }

        .phone-logo{
            grid-area: phone-logo;
        }
        .address{
            grid-area: address;
            margin-top: 20px;
        }
        .email{
            grid-area: email;
        }
        .phone{
            grid-area: phone;
            margin-bottom: 20px;
        }

            .footer-container a {
            color: white;
            transition: 0.5s ease;
        }



            .footer-container a:hover {
            color: #ff5e14;
            }

        .logo{
            grid-area: logo;
        }
        .motto{
            grid-area: motto;
            font-family: 'Baskerville';
            font-size: 18px;
        }

        .copyright-label{
            grid-area: copyright-label;
        }
        footer {
            overflow: hidden;
        }
        .body-container{
            min-height: 90vh;
            border-bottom: 1px solid #373636;
        }
    </style>
</head>


<body >
    <header style=" position:sticky; position:-webkit-sticky; top:0px; z-index:999; ">
        <div class="holder">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" >
                    <div class="logo-container" >
                        <img  src="~/Images/MBHS logo.png" >
                       <div class="title">
                            <p class ="name-top"style="margin-top:0%; margin-bottom:0; padding-top:5%; display: flex; justify-content:center ">Marist Brothers'</p>
                            <p class="name-bottom" style="margin-top: 0; padding:0; display:flex; justify-content:center">High School</p>
                        </div>
                    </div>
                </a>
            </div>
                <div class="collapsible-menu">&#9776;</div>
                
                    <ul class="nav-links">
                        <li >
                            <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                        <li>
                            <a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
            <ul class="nav-links">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a id="manage"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li>
                        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
            
        </div>
    </header>
    <div class="body-container">
    <div class="container-fluid m-0 p-0">
        <main role="main" class="m-0">
            @RenderBody()
        </main>
    </div></div>

    <footer @* class="footer-section" *@ >
@*        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content text-center">
                        <h5>Contact Us</h5>
                        <p>Marist Brothers High School</p>
                        <p>Suva, Fiji</p>
                        <p>Email: info@mbhs.edu.fj</p>
                        <p>Phone: +679 123 4567</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr class="divider">
                    <p>&copy; 2024 Marist Brothers High School. All rights reserved.</p>
                </div>
            </div>
        </div>*@
        <div class="footer-container">
            <div class="address-logo"><i class=" fas fa-map-marker-alt"></i></div>
            <div class="email-logo"><i class=" far fa-envelope-open"></i></div>
            <div class="phone-logo"><i class=" fas fa-phone"></i></div>
            <div class="address"><a href="https://www.google.com/maps/dir//VC3P%2B97G,+Carew+St,+Suva,+Fiji/@@-18.1465413,178.3532962,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6e1bdc2dd8878c89:0x1b6179482fab9931!2m2!1d178.4356979!2d-18.1465588?entry=ttu" target="_blank">VC3P+97G, Carew St, Suva, Fiji</a></div>
            <div class="email"><a href="mailto:office@mbhs.avcol.school.fiji">office@@mbhs.school.fiji</a></div>
            <div class="phone"><a href="tel:+679123456789">+679 123 456 789</a></div>
            <div class="logo"> <img src="~/Images/MBHS logo.png" /></div>
            <div class="motto"><span class="quotation-marks">"</span> IN HOC SIGNO VINCES <span class="quotation-marks">"</span></div>
            <div class="copyright-label">&copy; 2024 Marist Brothers High School. All rights reserved. <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
