<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using MBHS_Website.Areas.Identity.Data

@inject SignInManager<MBHS_WebsiteUser> SignInManager
@inject UserManager<MBHS_WebsiteUser> UserManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MBHS_Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MBHS_Website.styles.css" asp-append-version="true" />
</head>
<style>
body {
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #f2f2f2; /* Light grey background */
    color: #00205b; /* Dark blue for text color */
    box-shadow: 1px 1px 25px 1px black;
    opacity: 95%;
        border: 2px solid #00205b;
        
    
}
.holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
   
}

.logo img {
max-width: 60px;
}

.collapsible-menu {
    display: none; /* Hide the toggle button by default */
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #00205b; /* Dark blue */
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ed2939; /* Subtle red on hover */
    border-bottom: 2px solid #ed2939; /* Subtle red underline on hover */
}
.logo-container {
        display: grid;
        grid-template-columns: auto auto;
        
        
}
.logo-container img{
   grid-row: 1/ span 2;
}

.logo-container p {
   margin-left: 10px;
            
}

    a:link {
        text-decoration: none;
    }

</style>
<body >
    <header style=" position:sticky; position:-webkit-sticky; top:0px; z-index:999; ">
        <div class="holder">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" style=" font-family:Arial, Helvetica, sans-serif; text-shadow: 4px 6px 6px rgba(150,150,150,0.8); font-size: 130%; color: black;">
                    <div class="logo-container">
                        <img  src="~/Images/MBHS logo.png" >
                       
                            <p class ="name-top"style="margin-top:0%; margin-bottom:0; padding-top:5%; display: flex; justify-content:center ">Marist Brothers'</p>
                            <p class="name-bottom" style="margin-top: 0; padding:0; display:flex; justify-content:center">High School</p>
                        
                    </div>
                </a>
            </div>
                <div class="collapsible-menu">&#9776;</div>
                
                    <ul class="nav-links">
                        <li >
                            <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
            <ul class="nav-links">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a id="manage"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li>
                        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
            
        </div>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="m-0">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container">
            &copy; 2024 - MBHS_Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
