@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home-container p {
  animation: 0.5s fade-up-enter;
}

@@keyframes fade-up-enter {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
    .wrapper {
        position: absolute;
    }



        .wrapper p {
            position: relative;
            z-index: 1;
            font-weight: 400;
            text-align: justify;
            font-size: max(1vw, 15px);
            font-family: sans-serif;
            margin: 0;
            color: white;
        }

    .shape {
        width: 50%;
        height: 100%;
    }

    .left {
        transform: translate(-50%, -50%);
        shape-outside: polygon(0% 0%, 45% 0%, 25% 10%, 15% 20%, 10% 30%, 7% 40%, 6% 50%, 7% 60%, 10% 70%, 15% 80%, 25% 90%, 45% 100%, 0% 100%);
        float: left;
    }

    .right {
        transform: translate(-50%, -50%);
        shape-outside: polygon(100% 0%, 55% 0%, 75% 10%, 85% 20%, 90% 30%, 93% 40%, 94% 50%, 93% 60%, 90% 70%, 85% 80%, 75% 90%, 55% 100%, 100% 100%);
        float: right;
    }

</style>
<div class=" home-container container-fluid p-0" style="position: relative;
background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('https://www.fijitimes.com.fj/wp-content/uploads/2022/08/Marist-athletes.jpg'); height:140vh;background-size:cover; background-repeat: no-repeat;
">

    <img src="~/Images/MBHS logo.png" style="height: calc(10vw + 20vh);   position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);" />
    <div class="wrapper" style="  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(40vw);
  height: 20vh;">
        <p style="font-family:'Times New Roman'; font-weight:600; text-align:center; font-size: 2vw; ">
            IN HOC SIGNO VINCES
        </p>

        <div class="shape left"></div>
        <div class="shape right"></div>

        <br />
        <br />
        <p>
            
            The sign- the Cross- surmounts our shield.
            The challenging motto of Constantine, the
            first Christian Roman Emperor, indicates
            the inspiration of the work of the
            Marist Brothers’ and of the High
            School. lt is at one time the
            symbol of love, service and
            sacrifice, which is held
            up to all as the ideal
            of human activity.

        </p>
    </div>

    <div class="wrapper" style=" top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: max(34vw);
  height: 20vh;">
        <p style="font-family:'Times New Roman'; font-weight:600; text-align:center; font-size: 2vw;  ">
            THE LAMP AND SCROLL
        </p>

        <div class="shape left"></div>
        <div class="shape right"></div>

        <br />
        <br />
        <p>
            The lamp of life and the scroll of learning emphasise the purpose of our work at school Here we hope to
            create a “house of learning” in the fullest sense, and all who pass from it should be lamps “who shine before men.”

        </p>
    </div>
    <div class="wrapper" style=" top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(40vw);
  height: 20vh;">
        <p style="font-family:'Times New Roman'; font-weight:600; text-align:center; font-size: 2vw;  ">
            “IN THIS SIGN THOU SHALL CONQUER’’
        </p>

        <div class="shape left"></div>
        <div class="shape right"></div>

        <br />
        <br />
        <p>
            Thus, etched symbolically on our shield are the ideas which we proclaim and for which we stand
            May all who live and work within the walls of the
            High School, not only wear the shield with pride, but
            be themselves, shining examples of Christian concern
            and able to contribute by their learning to the development of Our nation
           

        </p>
    </div>
    <div class="wrapper" style=" top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: max(34vw);
  height: 20vh;">
        <p style="font-family:'Times New Roman'; font-weight:600; text-align:center; font-size: 2vw;  ">
            THE TAKIA
        </p>

        <div class="shape left"></div>
        <div class="shape right"></div>

        <br />
        <br />
        <p>
            This traditlonal craft locates our school in Fiji and a so reminds us that there we are
            beginning a journey in life,
            a journey which
            we hope will end with a
            safe arrival at our
            destination. In spite
            of storms and difficulties
            in the future, we hope to
            make the best use of
            our time of preparation

        </p>
    </div>

</div>
