@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home-container p {
  animation: 0.5s fade-up-enter;

}


    .wrapper {
        width: 500%;
        margin-bottom: 20px; /* Add some spacing between components */
    }

    .shape {
        width: 100%;
        float: none;
    }
}
@@keyframes fade-up-enter {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
    .wrapper {
        position: absolute;
    }

    .shape-left {
        width: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        shape-outside: polygon(0% 0%, 45% 0%, 25% 10%, 15% 20%, 10% 30%, 7% 40%, 6% 50%, 7% 60%, 10% 70%, 15% 80%, 25% 90%, 45% 100%, 0% 100%);
        float: left;
    }

    .shape-right {
        width: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        shape-outside: polygon(100% 0%, 55% 0%, 75% 10%, 85% 20%, 90% 30%, 93% 40%, 94% 50%, 93% 60%, 90% 70%, 85% 80%, 75% 90%, 55% 100%, 100% 100%);
        float: right;
    }
    .heading {
        font-family:'Baskerville';
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: white;
    }
    .description {
        position: relative;
        z-index: 1;
        font-weight: 400;
        text-align: justify;
        font-size: 18px;
        font-family: sans-serif;
        margin: 0;
        color: white;
    }
    .top{
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 975px;
        height: 124px;
    }
    .bottom {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -47.5%);
        width: 975px;
        height: 131px;
    }
    .left{
        top: 50%;
        left: 20%;
        transform: translate(-50%, -52.5%);
        width: 400px;
        height: 170px;
    }
    .right{
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 215px;
    }
    .home-logo{
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @@media screen and (max-width: 1000px) {
            .home-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .wrapper, .home-logo {
                
                margin-bottom: 50px; /* Add some spacing between components */
                position:relative;
                top:auto;
                left:auto;
                transform: translate(0%, 0%);
            }
            .description {
                margin-bottom: 50px;
            }
            .shape {
                width: 100%;
                float: none;
            }
        }
</style>
<div class=" home-container container-fluid p-0" style="position: relative;
background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('https://www.fijitimes.com.fj/wp-content/uploads/2022/08/Marist-athletes.jpg'); height:1400px;background-size:cover; background-repeat: no-repeat;
">

    <img class="home-logo"src="~/Images/MBHS logo.png" />
    <div class="wrapper top" >
        <p class="heading">
            IN HOC SIGNO VINCES
        </p>

        <div class="shape-left"></div>
        <div class="shape-right"></div>

      
        <br />
        <p class="description">
            
            The sign- the Cross- surmounts our shield.
            The challenging motto of Constantine, the
            first Christian Roman Emperor, indicates
            the inspiration of the work of the
            Marist Brothers’ and of the High
            School. lt is at one time the
            symbol of love, service and
            sacrifice, which is held
            up to all as the ideal
            of human activity.

        </p>
    </div>

    <div class="wrapper left" >
        <p class="heading">
            THE LAMP AND SCROLL
        </p>

        <div class="shape-left"></div>
        <div class="shape-right"></div>

      
        <br />
        <p class="description">
            The lamp of life and the scroll of learning emphasise the purpose of our work at school Here we hope to
            create a “house of learning” in the fullest sense, and all who pass from it should be lamps “who shine before men.”

        </p>
    </div>
   
    <div class="wrapper right" >
        <p class="heading">
            THE TAKIA
        </p>

        <div class="shape-left"></div>
        <div class="shape-right"></div>

     
        <br />
        <p class="description">
            This traditlonal craft locates our school in Fiji and a so reminds us that there we are
            beginning a journey in life,
            a journey which
            we hope will end with a
            safe arrival at our
            destination. In spite
            of storms and difficulties
            in the future, we hope to
            make the best use of
            our time of preparation.

        </p>
    </div>
    <div class="wrapper bottom" >
        <p class="heading">
            “IN THIS SIGN THOU SHALL CONQUER’’
        </p>

        <div class="shape-left"></div>
        <div class="shape-right"></div>

    
        <br />
        <p class="description">
            Etched symbolically on our shield are the ideas which we proclaim and for which we stand.
            May all who be within the walls of the
            High School, not only wear the shield with pride, but
            be themselves, shining examples of Christian concern
            and able to contribute by their learning to the development of our nation.
        </p>
    </div>

</div>
