@model MBHS_Website.Models.Grade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label">Grade</label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamId" class="control-label">Exam</label>
                <select asp-for="ExamId" class ="form-control" asp-items="ViewBag.ExamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student</label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="text-danger">
              
       
                
                    @Html.ValidationMessage("CustomError")
            
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

