@model MBHS_Website.Models.StudentSubjectTeacher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student's Classes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentSubjectTeacherId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectTeacherId" class="control-label">Subject and Teacher</label>
                <select asp-for="SubjectTeacherId" class="form-control" asp-items="ViewBag.SubjectTeacherId"></select>
                <span asp-validation-for="SubjectTeacherId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

